#output de compilación
node_modules
dist
build

#dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

#logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# editores 
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
